<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Expense Tracker</title>
</head>
<body>
<h1 style="display: inline;">Apartment Sensok 2938</h1>
<h1 style="display: inline;padding: 50px;">វិក្កយបត្រ</h1>
</br>
<img th:src="'cid:' + ${qrcode}" alt="QR Code" />
</body>
</html>